.hero {
  background-image: linear-gradient(180deg, #f6f6f6 21.35%, rgba(255, 255, 255, 0) 100%),
    url("../assets/heroc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-primary-text);
  padding-top: 2rem;
  padding-bottom: calc(90vh - 190px);
  max-height: 100vh;
}

@media (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(90deg, #f6f6f6 21.35%, rgba(255, 255, 255, 0) 100%),
      url("../assets/heroc.jpg");
    padding-top: calc(50vh - 190px);
    padding-bottom: calc(50vh - 190px);
  }
}

.testimonianze-cta {
  background-color: #06282082;
  background-image: url("../assets/testimonianze-cta.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
