/* ---- profile start ---- */
div.profile-container {
  max-width: 1800px;
  min-height: calc(100vh - 80px);
  background: #fff;
  border-radius: 8px;
  padding: 80px;
  margin: auto;
  margin-top: 40px;
}

div.profile-container > div.separator {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  width: calc(1800px - 160px);
}
/* ---- profile end ---- */
