/* ---- navbar start ---- */
nav {
  position: sticky;
  top: 0;
  z-index: 49; /* side menu is 50 */
}

nav > div.nav-container > div.left-container > div.logo-container > img.logo {
  box-sizing: border-box;
  object-fit: cover !important;
}

nav > div.nav-container > div.left-container > div.logo-container > span.logo-name {
  font-family: "SansitaRegular";
  color: #0d6651;
}

.ham-container {
  transition: 0.15s;
}
.ham-container:hover {
  cursor: pointer;
  background-color: #348a76;
}
.ham-container:hover > svg {
  fill: #ffffff;
}

svg.hamburger-icon {
  transition: fill 0.15s;
}
/* svg.hamburger-icon:hover {
  fill: #0d6651;
  cursor: pointer;
} */
/* ---- navbar end ---- */
